@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  background-color: #000000;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: underline;
  font-weight: 1300;
  color: #f9f871;
}

main {
  width: 600px;
}
