@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #282c35;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

#wrapper {
  width: 90%;
  margin: 0 auto;
}
